<%- include index1 %>

<form method="post">
username: <input type="text" name="name" /><br/>
password: <input type = "password" name= "password" /><br/>                                                                   
confirmpassword: <input type = "password" name= "password2" /><br/>
email: <input type = "email" name="email" /><br/>
<input type = "submit" value="send" />
</form>

<%- include footer %>